<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Djangular</title>
    <base href="/">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'ang/favicon.ico' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'ang/styles.462d04c191b7b1ea2dc4.bundle.css' %}" rel="stylesheet"/>
</head>
<body>
<app-root></app-root>
<script type="text/javascript" src="{% static 'ang/inline.862c01b11ce30c07e4c2.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'ang/polyfills.e1f97a0070e18e96a6be.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'ang/vendor.e6ce5e370a9de041040b.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'ang/main.474e453ff7655609c9ba.bundle.js' %}"></script>
</body>
</html>